.custom-btn {
    background-color: #3584e4;
    color: white;
    border-radius: 24px;
    min-width: 260px;
    min-height: 32px;
    transition: 0.3s;
  }
  
.custom-btn:hover {
    background-color: #2980b9;
}

/* Общий контейнер */
.combo-box {
  border-radius: 8px;
}

/* Стиль кнопки */
.combo-button {
  min-width: 48px;
  min-height: 48px;
  padding-right: 8px;
}

/* Стиль поля ввода */
.combo-entry {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-left: none;
  padding: 8px 12px;
}

/* Убираем двойную границу между элементами */
.combo-button:focus, 
.combo-entry:focus {
  box-shadow: none;
}